<body>
    <div id="maindiv">
        <div id="main-terminal">
            <div id="terminal"></div>
        </div>
        <div id="main-button">
            <button onclick="window.location.reload()">Run Program</button>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; 2021 <a href="https://www.linkedin.com/in/sturaynor/" target="_blank" rel="noopener">Stuart Raynor</a>
            <br>Visit this project's <a href="https://github.com/MadStu/connect-4" target="_blank" rel="noopener">GitHub</a> page
        </p>
    </footer>

    <script>
        var term = new Terminal({
            cols: 51,
            rows: 21
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>